<section class="mbr-section mbr-section__container article mbr-after-navbar" id="header3-j" style="background-color: rgb(255, 255, 255); padding-top: 140px; padding-bottom: 40px;">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h3 class="mbr-section-title display-2">Вакансии</h3>
        <small class="mbr-section-subtitle"></small>
      </div>
    </div>
  </div>
</section>

<!-- <section class="mbr-section mbr-after-navbar content4 cid-rec4KrSCRS" id="content4-5">



<div class="container">
    <div class="media-container-row">
        <div class="title col-12 col-md-8">
            <h2 class="align-center pb-3 mbr-fonts-style display-2"><strong>Вакансии</strong></h2>


        </div>
    </div>
</div>
</section> -->

<section class="engine"><a href="https://mobiri.se/b">create a website</a></section><section class="features4 cid-rec1KcrNop" id="features4-3">

  <div class="container">
    <div class="media-container-row">
      <div class="card p-3 col-12 col-md-6 col-lg-4">
        <div class="card-wrapper media-container-row media-container-row">
          <div class="card-box">
            <h4 class="card-title pb-3 mbr-fonts-style display-7"><strong>
              ЗАКРОЙЩИК</strong></h4>
            <p class="mbr-text mbr-fonts-style display-7">
              <strong>Требования к кандидату:</strong>
              Исполнительность, ответственность, аккуратность, желание и умение работать в коллективе, обучаемость.&nbsp;<br>
              <br>Должностные обязанности, опыт работы приветствуется.&nbsp;<br>
              <br><strong>Компания предлагает:<br>
              </strong>
              Соц. пакет, хорошие условия труда, слаженный и доброжелательный коллектив, отличное месторасположение, все виды транспорта.<br>
              <strong>Зарплата: от 800 рублей </strong>
            </p>
          </div>
        </div>
      </div>

      <div class="card p-3 col-12 col-md-6 col-12 col-md-6 col-lg-4">
        <div class="card-wrapper media-container-row">
          <div class="card-box">
            <h4 class="card-title pb-3 mbr-fonts-style display-7"><strong>ПОРТНОЙ</strong></h4>
            <p class="mbr-text mbr-fonts-style display-7">
              <strong>Требования к кандидату: </strong>
              Исполнительность, ответственность, аккуратность, желание и умение работать в коллективе, обучаемость. <br>
              <br>Должностные обязанности, опыт работы приветствуется. <br>
              <br><strong>Компания предлагает:</strong>
              <br>Соц. пакет, хорошие условия труда, слаженный и доброжелательный коллектив, отличное месторасположение, все виды транспорта.<br>
              <strong>Зарплата: от 600 рублей </strong></p>
          </div>
        </div>
      </div>

      <div class="card p-3 col-12 col-md-6 col-lg-4">
        <div class="card-wrapper media-container-row">
          <div class="card-box">
            <h4 class="card-title pb-3 mbr-fonts-style display-7"><strong>
              ШВЕЯ</strong></h4>
            <p class="mbr-text mbr-fonts-style display-7">
              <strong>Требования к кандидату: </strong>
              Исполнительность, ответственность, аккуратность, желание и умение работать в коллективе, обучаемость. <br>
              <br>Должностные обязанности, опыт работы приветствуется. <br><br><strong>Компания предлагает:</strong>
              <br>Соц. пакет, хорошие условия труда, слаженный и доброжелательный коллектив, отличное месторасположение, все виды транспорта.<br>
              <strong>Зарплата: от 600 рублей </strong></p>
          </div>
        </div>
      </div>


    </div>
    <div class="inner-container" style="width: 100%;  margin-top: 4%">
      <!-- <hr class="line" style="width: 25%;"> -->
      <div class="section-text align-center mbr-fonts-style display-5" style="text-align: center;">
        <strong>Телефон для связи:</strong><br>
        <a href="tel:+375336220597">+375(33) 622-05-97</a><br><br><strong>Почта для связи:</strong><br>
        <a href="mailto:sia-pro.grodno@gmail.com">sia-pro.grodno@gmail.com</a>
      </div>
      <!--  <hr class="line" style="width: 25%;"> -->
    </div>
  </div>
</section>
