
<section class="mbr-slider mbr-section mbr-section__container carousel slide mbr-section-nopadding mbr-after-navbar"
         data-ride="carousel" data-keyboard="false" data-wrap="true" data-pause="false" data-interval="5000"
         id="slider-a">
  <div>
    <div>
      <div>
        <ol class="carousel-indicators">
          <li data-app-prevent-settings="" data-target="#slider-a" data-slide-to="0" class="active"></li>
          <li data-app-prevent-settings="" data-target="#slider-a" class="" data-slide-to="1"></li>
          <li data-app-prevent-settings="" data-target="#slider-a" data-slide-to="2"></li>
          <li data-app-prevent-settings="" data-target="#slider-a" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="mbr-section mbr-section-hero carousel-item dark center mbr-section-full active"
               data-bg-video-slide="false" style="background-image: url(./../../assets/images/mbr-2000x1553.jpg);">
            <div class="mbr-table-cell">
              <div class="mbr-overlay"></div>
              <div class="container-slide container">

                <div class="row">
                  <div class="col-md-8 col-md-offset-2 text-xs-center">
                    <h2 class="mbr-section-title display-1">Индивидуальный пошив</h2>


                    <div class="mbr-section-btn"><a class="btn btn-lg btn-white btn-white-outline"
                                                    href="#">ПЕРЕЙТИ</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mbr-section mbr-section-hero carousel-item dark center mbr-section-full"
               data-bg-video-slide="false" style="background-image: url(./../../assets/images/mbr-3-2000x1333.jpg);">
            <div class="mbr-table-cell">
              <div class="mbr-overlay" style="opacity: 0.4;"></div>
              <div class="container-slide container">

                <div class="row">
                  <div class="col-md-8 col-md-offset-2 text-xs-center">
                    <h2 class="mbr-section-title display-1">Корпоративная и форменная одежда</h2>


                    <div class="mbr-section-btn"><a class="btn btn-lg btn-white btn-white-outline"
                                                    href="#">ПЕРЕЙТИ</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mbr-section mbr-section-hero carousel-item dark center mbr-section-full"
               data-bg-video-slide="false" style="background-image: url(./../../assets/images/mbr-2000x1328.jpg);">
            <div class="mbr-table-cell">
              <div class="mbr-overlay"></div>
              <div class="container-slide container">

                <div class="row">
                  <div class="col-md-8 col-md-offset-2 text-xs-center">
                    <h2 class="mbr-section-title display-1">Текстиль интерьеров</h2>


                    <div class="mbr-section-btn"><a class="btn btn-lg btn-white btn-white-outline"
                                                    href="#">ПЕРЕЙТИ</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mbr-section mbr-section-hero carousel-item dark center mbr-section-full"
               data-bg-video-slide="false" style="background-image: url(./../../assets/images/mbr-2-2000x1333.jpg);">
            <div class="mbr-table-cell">
              <div class="mbr-overlay"></div>
              <div class="container-slide container">

                <div class="row">
                  <div class="col-md-8 col-md-offset-2 text-xs-center">
                    <h2 class="mbr-section-title display-1">Ремонт одежды</h2>


                    <div class="mbr-section-btn"><a class="btn btn-lg btn-white btn-white-outline"
                                                    href="#">ПЕРЕЙТИ</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <a data-app-prevent-settings="" class="left carousel-control" role="button" data-slide="prev"
           href="#slider-a">
          <span class="icon-prev" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a data-app-prevent-settings="" class="right carousel-control" role="button" data-slide="next"
           href="#slider-a">
          <span class="icon-next" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="mbr-section mbr-section__container article" id="header3-b"
         style="background-color: rgb(255, 255, 255); padding-top: 60px; padding-bottom: 0;">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h3 class="mbr-section-title display-2">Как мы работаем?</h3>
        <small class="mbr-section-subtitle"></small>
      </div>
    </div>
  </div>
</section>

<section class="mbr-cards mbr-section mbr-section-nopadding" id="features7-1g"
         style="background-color: rgb(255, 255, 255);">


  <div class="mbr-cards-row row">
    <div class="mbr-cards-col col-xs-12 col-lg-4" style="padding-top: 80px; padding-bottom: 80px;">
      <div class="container">
        <div class="card cart-block">
          <div class="card-img iconbox"><a class="mbri-chat mbr-iconfont mbr-iconfont-features7"
                                           style="color: rgb(255, 255, 255);"></a></div>
          <div class="card-block">
            <h4 class="card-title">Вы делаете заказ</h4>


          </div>
        </div>
      </div>
    </div>
    <div class="mbr-cards-col col-xs-12 col-lg-4" style="padding-top: 80px; padding-bottom: 80px;">
      <div class="container">
        <div class="card cart-block">
          <div class="card-img iconbox"><a class="etl-icon icon-scissors mbr-iconfont mbr-iconfont-features7"
                                           style="color: rgb(255, 255, 255);"></a></div>
          <div class="card-block">
            <h4 class="card-title">В кратчайшие сроки <br>мы его&nbsp;выполняем</h4>


          </div>
        </div>
      </div>
    </div>
    <div class="mbr-cards-col col-xs-12 col-lg-4" style="padding-top: 80px; padding-bottom: 80px;">
      <div class="container">
        <div class="card cart-block">
          <div class="card-img iconbox"><a class="mbri-shoping-bag mbr-iconfont mbr-iconfont-features7"
                                           style="color: rgb(255, 255, 255);"></a></div>
          <div class="card-block">
            <h4 class="card-title">Вы принимаете заказ</h4>


          </div>
        </div>
      </div>
    </div>


  </div>
</section>

<section class="mbr-section article mbr-parallax-background" id="msg-box8-1z"
         style="background-image: url(./../../assets/images/windows-books-small.jpg); padding-top: 120px; padding-bottom: 120px;">

  <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(34, 34, 34);">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-xs-center">
        <h3 class="mbr-section-title display-2">НАШИ ПРЕИМУЩЕСТВА</h3>

      </div>
    </div>
  </div>
</section>

<section class="mbr-cards mbr-section mbr-section-nopadding" id="features4-22"
         style="background-color: rgb(255, 255, 255);">

  <div class="mbr-cards-row row">
    <div class="mbr-cards-col col-xs-12 col-lg-4" style="padding-top: 40px; padding-bottom: 80px;">
      <div class="container">
        <div class="card cart-block">
          <div class="card-img iconbox"><span class="mbri-info mbr-iconfont mbr-iconfont-features4"
                                              style="color: black;"></span></div>
          <div class="card-block">
            <h4 class="card-title">Поиск и подбор ткани и&nbsp;фурнитуры</h4>
            <p class="card-text">Поможем с выбором тканей, подбором фурнитуры и даже их покупкой, если Вы
              сомневаетесь в выборе или не располагаете временем</p>

          </div>
        </div>
      </div>
    </div>
    <div class="mbr-cards-col col-xs-12 col-lg-4" style="padding-top: 40px; padding-bottom: 80px;">
      <div class="container">
        <div class="card cart-block">
          <div class="card-img iconbox"><span class="mbri-users mbr-iconfont mbr-iconfont-features4"
                                              style="color: black;"></span></div>
          <div class="card-block">
            <h4 class="card-title">Индивидуальный подход к каждому клиенту<br><br></h4>

            <p class="card-text">Мы разрабатываем индивидуальные выкройки для каждого клиента, обеспечивая таким
              образом безукоризненную посадкуизделия по фигуре</p>

          </div>
        </div>
      </div>
    </div>
    <div class="mbr-cards-col col-xs-12 col-lg-4" style="padding-top: 40px; padding-bottom: 80px;">
      <div class="container">
        <div class="card cart-block">
          <div class="card-img iconbox"><span class="etl-icon icon-briefcase mbr-iconfont mbr-iconfont-features4"
                                              style="color: black;"></span></div>
          <div class="card-block">
            <h4 class="card-title">10 лет успешной работы<br><br></h4>

            <p class="card-text">Подскажем и разработаем НУЖНУЮ Вам модель с учетом всех Ваших пожеланий, модных
              тенденций и особенностей&nbsp;Вашей фигуры<br></p>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mbr-section" id="msg-box5-23"
         style="background-color: rgb(239, 239, 239); padding-top: 80px; padding-bottom: 120px;">


  <div class="container">
    <div class="row">
      <div class="mbr-table-md-up">


        <div class="mbr-table-cell col-md-5 text-xs-center text-md-right content-size">
          <h3 class="mbr-section-title display-2">МУЖСКАЯ ОДЕЖДА</h3>
          <div class="lead">

            <p>Современный мужчина должен выглядеть модно, элегантно, стильно и безусловно индивидуально. Однако для
              многих мужчин шоппинг является чрезвычайно утомительным и скучным занятием, вызывает ощущение
              бесцельно потраченного времени и сил. При этом зачастую немаловажное значение при выборе одежды
              придается ее стоимости и качеству. Время - деньги, поэтому в современном мире индивидуальный пошив
              одежды становится все более востребованной услугой.</p>

          </div>


        </div>


        <div class="mbr-table-cell mbr-left-padding-md-up mbr-valign-top col-md-7 image-size" style="width: 38%;">
          <div class="mbr-figure"><img src="./../../assets/images/c2e8b9c795-h520-1400x2104.jpg" alt="Мужская одежда"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mbr-section" id="msg-box5-2j"
         style="background-color: rgb(255, 255, 255); padding-top: 80px; padding-bottom: 80px;">


  <div class="container">
    <div class="row">
      <div class="mbr-table-md-up">

        <div class="mbr-table-cell mbr-right-padding-md-up mbr-valign-top col-md-7 image-size" style="width: 41%;">
          <div class="mbr-figure"><img src="./../../assets/images/mbr-1-1400x2102.jpg" alt="Индивидуальный пошив"></div>
        </div>

        <div class="mbr-table-cell col-md-5 text-xs-center text-md-left content-size">
          <h3 class="mbr-section-title display-2">ИНДИВИДУАЛЬНЫЙ ПОШИВ</h3>
          <div class="lead">

            <p>Если Вы являетесь яркой личностью и у Вас есть свой неповторимый стиль в котором вы чувствуете себя
              комфортно и уверенно, выделяетесь из толпы и любите носить эксклюзивную одежду, у Вас нестандартная
              фигура и долго не можете подобрать себе одежду, которая хорошо и красиво сидит или в скором времени у
              Вас свадьба, юбилей, выпускной, вечеринка и Вам обязательно надо выглядеть неповторимо и
              запоминающееся- Ваш выбор пошив одежды на заказ. Сделайте себе подарок в качестве индивидуальной и
              качественной одежды, которая будет только у Вас. Будьте оригинальны.</p>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mbr-section" id="msg-box5-26"
         style="background-color: rgb(239, 239, 239); padding-top: 80px; padding-bottom: 80px;">


  <div class="container">
    <div class="row">
      <div class="mbr-table-md-up">


        <div class="mbr-table-cell col-md-5 text-xs-center text-md-right content-size">
          <h3 class="mbr-section-title display-2">ЖЕНСКАЯ ОДЕЖДА</h3>
          <div class="lead">

            <p>Тяжело создать индивидуальный образ, используя при помощи одежды, которой набиты прилавки, потому как
              массовый пошив не ориентирован на индивидуальность, а наоборот ориентирован на стандартные размеры. Но
              все ли подходят в это страшное слово "стандарты"? Не стоит идти на компромиссы, и выбирать из этой
              серой массы что-то подходящее, когда можно свободно получить свой, собственный , элегантный костюмчик,
              или шикарное платье ручной работы, которое идеально будет подходить по фигуре. Именно на это
              ориентировано наше производство, чтобы создавать такую женскую одежду, которая будет отражать ваш внутренний
              индивидуальный мир при помощи тканей, форм, цветов и линий.</p>
          </div>
        </div>
        <div class="mbr-table-cell mbr-left-padding-md-up mbr-valign-top col-md-7 image-size" style="width: 35%;">
          <div class="mbr-figure"><img src="./../../assets/images/737cf82595-h490-1400x1994.jpg" alt="Женская одежда"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mbr-section" id="msg-box5-2n"
         style="background-color: rgb(255, 255, 255); padding-top: 80px; padding-bottom: 120px;">

  <div class="container">
    <div class="row">
      <div class="mbr-table-md-up">

        <div class="mbr-table-cell mbr-right-padding-md-up mbr-valign-top col-md-7 image-size" style="width: 42%;">
          <div class="mbr-figure"><img src="./../../assets/images/img-0267-1400x1050.jpg" alt="Корпоротивная одежда"></div>
        </div>
        <div class="mbr-table-cell col-md-5 text-xs-center text-md-left content-size">
          <h3 class="mbr-section-title display-2">КОРПОРАТИВНАЯ ОДЕЖДА</h3>
          <div class="lead">

            <p>Корпоративная одежда – это неотъемлемая составляющая позитивного имиджа компании. Сотрудники, одетые
              в презентабельную и качественную одежду, чувствуют себя уверенно, ощущают причастность к компании,
              заботу о себе и, как следствие этого, работают эффективнее и с радостью общаются с клиентами.<br><br>Мы
              предлагаем разработку и изготовление форменной одежды в корпоративном стиле компании, с учетом всех
              ваших пожеланий. Наши профессиональные дизайнеры помогут вам воплотить в жизнь ваши идеи относительно
              моделей одежды, ее цвета и качества тканей, из которых она производится.<br></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mbr-section article mbr-parallax-background" id="msg-box8-2k"
         style="background-image: url(./../../assets/images/88-2000x796.png); padding-top: 120px; padding-bottom: 120px;">

  <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(34, 34, 34);">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-xs-center">
        <h3 class="mbr-section-title display-2">ВДОХНИТЕ ЖИЗНЬ<br>В СТАРЫЕ ВЕЩИ</h3>
        <div class="lead"></div>
      </div>
    </div>
  </div>
</section>
<section class="mbr-section" id="msg-box5-2l" style="background-color: rgb(255, 255, 255); padding-top: 80px; padding-bottom: 80px;">

  <div class="container">
    <div class="row">
      <div class="mbr-table-md-up">
        <div class="mbr-table-cell col-md-5 text-xs-center text-md-right content-size">
          <h3 class="mbr-section-title display-2">ТЕКСТИЛЬ ИНТЕРЬЕРОВ</h3>
          <div class="lead">
            <p>Каждая хозяйка хочет видеть в своем доме самые красивые шторы, на праздничном столе должна быть
              оригинальная и изысканная скатерть, которая подчеркивает Ваш вкус и значимость праздник а, нужна новая
              мебель? Не спешите бежать в магазин за новой покупкой ведь не всегда покупка новой мебели приносит
              ожидаемый результат, придайте старой мебели необходимый лоск. Каждому человеку нужен отдых после
              тяжелого рабочего дня и ничего не может быть лучше, чем отдых в уютной и красивой постели , но часто
              среди готовых вариантов нет подходящих.
            </p>
          </div>
        </div>
        <div class="mbr-table-cell mbr-left-padding-md-up mbr-valign-top col-md-7 image-size" style="width: 44%;">
          <div class="mbr-figure">
            <img src="./../../assets/images/127706534-1400x897.jpg" alt="Текстиль интерьеров">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mbr-section" id="msg-box5-2o" style="background-color: rgb(239, 239, 239); padding-top: 80px; padding-bottom: 120px;">
  <div class="container">
    <div class="row">
      <div class="mbr-table-md-up">
        <div class="mbr-table-cell mbr-right-padding-md-up mbr-valign-top col-md-7 image-size" style="width: 50%;">
          <div class="mbr-figure"><img src="./../../assets/images/49412970-w640-h640-1400x931.png" alt="Ремонт одежды"></div>
        </div>
        <div class="mbr-table-cell col-md-5 text-xs-center text-md-left content-size">
          <h3 class="mbr-section-title display-2">РЕМОНТ ОДЕЖДЫ</h3>
          <div class="lead">
            <p>Очень любите свою старую вещь, но она уже вышла из моды или ей требуется ремонт, тогда Вы по адресу!
              Осуществляем ремонт одежды любой сложности! Пришивание фурнитуры, изготовление и пришивание вешалок и
              поддерживателей, выметывание петель (ручным способом), закрепление концов карманов, подшивание
              распоровшихся участков подкладки, стачивание распоровшихся швов, замена подкладки низа рукавов,
              штопка, штуковка, вставка заплат, влажно — тепловая обработка готового изделия. починка и изменение
              фасона: воротников, длины изделия, длины рукава, формы бортов, лацканов, карманов, петель, изменение
              формы отдельных деталей, частичное изменение размера или фасона.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mbr-section mbr-section__container article" id="header3-2a" style="background-color: rgb(255, 255, 255); padding-top: 20px; padding-bottom: 20px;">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h3 class="mbr-section-title display-2">КОНТАКТЫ</h3>
        <small class="mbr-section-subtitle"></small>
      </div>
    </div>
  </div>
</section>

<section class="mbr-section article mbr-section__container" id="content7-2d" style="background-color: rgb(255, 255, 255); padding-top: 40px; padding-bottom: 40px;">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4 lead">
        <h4>ТЕЛЕФОН</h4>
        <h4><span style="font-weight: normal;">+375(33) 622-05-97</span></h4>
      </div>
      <div class="col-xs-12 col-md-4 lead">
        <h4>ВРЕМЯ РАБОТЫ</h4>
        <h4><span style="font-weight: normal;">Пн — пн с 09:00 до 17:00. </span></h4>
        <h4><span style="font-weight: normal;">Сб,вс — выходной</span></h4>
      </div>
      <div class="col-xs-12 col-md-4 lead">
        <h4>АДРЕСС</h4><h4><span style="font-weight: normal;">г. Гродно, ул. Понемуньская 9.Б</span></h4>
      </div>
    </div>
  </div>
</section>


